html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    height: 100%;
    width: 100%;
}

#gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
}
